<div class="row mt-5" id="backgraund-new">
    <div class="col-md-9 mx-auto">
        <div class="card shadow mt-5 mb-5">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <div class="col-md-8 mx-auto text-center">
                                <h3>Registrarme de las siguientes formas</h3>
                            </div>
                            <div class="col-md-9 mx-auto mt-3">
                                <div class="d-grid gap-2 mb-3">
                                    <button class="btn btn-primary rounded-pill shadow-sm" type="button"><em
                                            class="fab fa-google" (click)="onGoogleLogin()"></em> Iniciar sesión con
                                        Google</button>
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button class="btn btn-primary rounded-pill shadow-sm" type="button"><em
                                            class="fab fa-facebook-square"></em> Iniciar sesión con Facebook</button>
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button class="btn btn-primary rounded-pill shadow-sm" type="button"><em
                                            class="fab fa-yahoo"></em> Iniciar sesión con Yahoo</button>
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button class="btn btn-primary rounded-pill shadow-sm" type="button"><em
                                            class="fab fa-microsoft"></em> Iniciar sesión con Microsoft</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <div class="col-md-8 mx-auto text-center">
                                <h3>Registrarme con mi correo electrónico</h3>
                            </div>
                        </div>
                        <form action="">
                            <div class="mb-3 row">
                                <div class="col-md-9 mx-auto">
                                    <div class="input-group mb-3">
                                        <div class="col mx-auto">
                                            <input type="text" class="form-control rounded-pill" id="nombre"
                                                placeholder="Ingresa tu nombre">
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="col mx-auto">
                                            <input type="date" class="form-control rounded-pill" id="apellido"
                                                placeholder="Ingresa tu fecha de nacimiento">
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="col mx-auto">
                                            <input type="text" class="form-control rounded-pill" id="ubicacion"
                                                placeholder="Indícanos tu ubicación">
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="col mx-auto">
                                            <input type="email" class="form-control rounded-pill" id="email"
                                                placeholder="Ingresa tu correo electrónico">
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control rounded-end rounded-pill"
                                            placeholder="Crea una contraseña" aria-label="Recipient's username"
                                            aria-describedby="button-addon2">
                                        <button class="btn btn-primary rounded-start rounded-pill" type="button"
                                            id="button-addon2"><em class="fas fa-eye"></em></button>
                                    </div>
                                    <div class="d-grid gap-2 box">
                                        <button class="btn btn-primary rounded-pill shadow-sm"
                                            type="button">Registrarme</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

