<div class="mt-3">
    .
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Registrar usuario
                </div>
                <div class="body">
                    <div class="form-group">
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName"
                            name="firstName" />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Apellido</label>
                        <input type="date" class="form-control" id="lastName" required [(ngModel)]="user.lastName"
                            name="lastName" />
                    </div>
                    <div class="form-group">
                        <label for="location">Ubicación</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" type="text"
                            placeholder="Ingrese su ubicación" [(ngModel)]="searchTerm" (ngModelChange)="search($event)" [value]="selectedAddress" [(ngModel)]="user.location">
                        <datalist id="datalistOptions">
                            <option *ngFor="let address of addresses" (click)="onSelect(address)">{{address}}</option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="typeOfUser">Tipo de Usuario</label>
                        <input type="text" class="form-control" id="typeOfUser" required [(ngModel)]="user.typeOfUser"
                            name="typeOfUser" />
                    </div>
                    <button *ngIf="!select" (click)="saveUser()" class="btn btn-success box">Submit</button>
                    <button *ngIf="select" (click)="updateUser(user, user.key)" class="btn btn-success box">UpDate</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="conteiner">
    <div class="row">
        <div *ngFor="let item of profilesRef" class="col-md-4">
            <div class="card mt-3">
                <div class="card-body text-center">
                    <span>Nombre:</span>
                    <p>{{item.firstName}}</p>
                    <span>Fecha de Nacimiento:</span>
                    <p>{{item.lastName}}</p>
                    <span>Lugar de Nacimiento:</span>
                    <p>{{item.location}}</p>
                </div>
                <button class="btn btn-primary box" (click)="selectUser(item)">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="row col-9 mx-auto">
        <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
            <div class="card box">
                <h5 class="text-center pt-3">Búsqueda</h5>
                <div class="card-body">
                    <img src="assets/imgs/brujula.png" alt="" class="img-fluid p-4">
                </div>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
            <div class="card box">
                <h5 class="text-center pt-3">Calendario</h5>
                <div class="card-body">
                    <img src="assets/imgs/calendario.png" alt="" class="img-fluid p-4">
                </div>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
            <div class="card box">
                <h5 class="text-center pt-3">Compartir</h5>
                <div class="card-body">
                    <img src="assets/imgs/compartir.png" alt="" class="img-fluid p-4">
                </div>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
            <div class="card box">
                <h5 class="text-center pt-3">Galería</h5>
                <div class="card-body">
                    <img src="assets/imgs/galeria.png" alt="" class="img-fluid p-4">
                </div>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
            <div class="card box">
                <h5 class="text-center pt-3">Mascotas</h5>
                <div class="card-body">
                    <img src="assets/imgs/listado.png" alt="" class="img-fluid p-4">
                </div>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
            <div class="card box">
                <h5 class="text-center pt-3">Protección</h5>
                <div class="card-body">
                    <img src="assets/imgs/verificado.png" alt="" class="img-fluid p-4">
                </div>
                <a href="" class="stretched-link"></a>
            </div>
        </div>
    </div>

</div>

<div class="row mt-5 mb-3">
    <div class="col-md-6 mx-auto">
        <div class="card shadow mb-3">
            <div class="card-header text-white">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="foto"
                    style="height: 40px; width: 40px;" class="roudend-pill">
                <span class="ps-2">Diego Rios</span>
                <span class="form-text text-white ps-2">1h</span>
            </div>
            <img src="https://estaticos.delooks.es/media/cache/1140x_thumb/uploads/images/gallery/59b7f7c45bafe8cc9f3c986c/foto-thebeagleleo.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora non vero repellat, veritatis
                    eveniet, in suscipit ipsam sapiente aliquam consequatur quam ratione ex qui doloribus. Id odit
                    maiores at.</p>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="me gusta"><em class="fab fa-gratipay"></em><span
                        class="badge bg-lingt ms-1 form-text">46</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="compartir"><em class="fas fa-share"></em><span
                        class="badge bg-lingt ms-1 form-text">5</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="comentar"><em class="far fa-comment-dots"></em><span
                        class="badge bg-lingt ms-1 form-text">4</span></button>
            </div>
        </div>
        <div class="card mb-3 shadow">
            <div class="card-header text-white">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="foto"
                    style="height: 40px; width: 40px;" class="roudend-pill">
                <span class="ps-2">Diego Rios</span>
                <span class="form-text text-white ps-2">1h</span>
            </div>
            <img src="https://cdn.nutricionistadeperros.com/wp-content/uploads/2012/01/perro-cachorro.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora non vero repellat, veritatis
                    eveniet, in suscipit ipsam sapiente aliquam consequatur quam ratione ex qui doloribus. Id odit
                    maiores at.</p>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="me gusta"><em class="fab fa-gratipay"></em><span
                        class="badge bg-lingt ms-1 form-text">46</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="compartir"><em class="fas fa-share"></em><span
                        class="badge bg-lingt ms-1 form-text">5</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="comentar"><em class="far fa-comment-dots"></em><span
                        class="badge bg-lingt ms-1 form-text">4</span></button>
            </div>
        </div>
        <div class="card mb-3 shadow">
            <div class="card-header text-white">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="foto"
                    style="height: 40px; width: 40px;" class="roudend-pill">
                <span class="ps-2">Diego Rios</span>
                <span class="form-text text-white ps-2">1h</span>
            </div>
            <img src="https://cf.ltkcdn.net/gatos/images/std/236641-800x515r1-etapas-desarrollo-gatitos.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora non vero repellat, veritatis
                    eveniet, in suscipit ipsam sapiente aliquam consequatur quam ratione ex qui doloribus. Id odit
                    maiores at.</p>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="me gusta"><em class="fab fa-gratipay"></em><span
                        class="badge bg-lingt ms-1 form-text">46</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="compartir"><em class="fas fa-share"></em><span
                        class="badge bg-lingt ms-1 form-text">5</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="comentar"><em class="far fa-comment-dots"></em><span
                        class="badge bg-lingt ms-1 form-text">4</span></button>
            </div>
        </div>
        <div class="card mb-3 shadow">
            <div class="card-header text-white">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="foto"
                    style="height: 40px; width: 40px;" class="roudend-pill">
                <span class="ps-2">Diego Rios</span>
                <span class="form-text text-white ps-2">1h</span>
            </div>
            <img src="https://s1.eestatic.com/2021/02/06/curiosidades/mascotas/556955529_172216847_1706x960.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora non vero repellat, veritatis
                    eveniet, in suscipit ipsam sapiente aliquam consequatur quam ratione ex qui doloribus. Id odit
                    maiores at.</p>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="me gusta"><em class="fab fa-gratipay"></em><span
                        class="badge bg-lingt ms-1 form-text">46</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="compartir"><em class="fas fa-share"></em><span
                        class="badge bg-lingt ms-1 form-text">5</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="comentar"><em class="far fa-comment-dots"></em><span
                        class="badge bg-lingt ms-1 form-text">4</span></button>
            </div>
        </div>
        <div class="card mb-3 shadow">
            <div class="card-header text-white">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="foto"
                    style="height: 40px; width: 40px;" class="roudend-pill">
                <span class="ps-2">Diego Rios</span>
                <span class="form-text text-white ps-2">1h</span>
            </div>
            <img src="https://images.clarin.com/2021/04/05/apricot-el-gatito-recien-nacido___DrvXjAKAT_1256x620__1.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora non vero repellat, veritatis
                    eveniet, in suscipit ipsam sapiente aliquam consequatur quam ratione ex qui doloribus. Id odit
                    maiores at.</p>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="me gusta"><em class="fab fa-gratipay"></em><span
                        class="badge bg-lingt ms-1 form-text">46</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="compartir"><em class="fas fa-share"></em><span
                        class="badge bg-lingt ms-1 form-text">5</span></button>
                <button class="btn btn-primary rounded-pill form-text" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="comentar"><em class="far fa-comment-dots"></em><span
                        class="badge bg-lingt ms-1 form-text">4</span></button>
            </div>
        </div>
    </div>
</div>